<!DOCTYPE html>
<html>
<head>
  <title>My first Vue page</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/flexbox-grid.css">
  <link rel="stylesheet" href="css/pink.css?version=0.1">
  <link rel="stylesheet" href="css/images.css?version=0.2">
  <link rel="stylesheet" href="css/shopping.css?version=0.1">
</head>


<div class="container">
    <div class="topnav">
        <a href="https://www.facebook.com/shandrae.quianzon">Facebook</a>
        <a href="https://www.linkedin.com/in/shandrae-lois-quianzon-765679288/">LinkedIn</a>
        <a href="https://www.instagram.com/quiassont/">Instagram</a>
      </div>
    
    <br>
    
    <div class="title">
      <h1>| Personal Profile Web Page |</h1>
    </div>

    <div class="grid-container">
        <div class="item1">ABOUT ME

            <p>Hello there! I'm Shandrae Quianzon from the City of Manila. Welcome to my first HTML/CSS website! </p>
            <p> Oh and in case I don't see ya, good afternoon, good evening, and good night! - Truman Burbank, The Truman Show</p>

            <br>

            <div style="text-align: center;">
              <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/462564944_1712639922638585_417124740721921613_n.jpg?stp=dst-jpg_p480x480_tt6&_nc_cat=102&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeGXKzU_3_GN6nqYORNizX_UTwS1V6YZSxhPBLVXphlLGGQp1qKwxTk_qebu3oXj99SIyZZJXNNjBKF-HEmxcAls&_nc_ohc=_luyzMQfmwkQ7kNvgG6bDF-&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&oh=03_Q7cD1QGXO9JIYvxnrC2lZmC7aLvn6UEuneWboPDGq9wW3kitsg&oe=6773D78B" alt="Graduation Photo" style="width: 280px; height: 400px;">
            </div>

            <br>

        </div>


        <div class="item2">

            <div class="header">
                <h1>Education</h1>
            </div>
              
              
              <div class="education-flex">
                <div class="education">
                  <h2>Schools Attended</h2>
                  <ul>
                    <li>Elementary: O.B Montessori Sta. Ana Manila (2012-2017) </li>
                    <li>Junior High: Peniel Integrated Christian Academy of Rizal (2017-2018) </li>
                    <li>Junior High: Victory Elijah Christian College (2018-2021) </li>
                    <li>Senior High: Ignacio Villamor Senior High School (2021-2023) </li>
                    <li>College: Asia Pacific College (2023-2027) </li>
                  </ul>
                </div>
                
                <div class="education">
                  <h2>Achievements</h2>
                  <ul>
                    <li> Elementary: 1st Place Mask-Making Contestant </li>
                    <li> Senior High School: With High Honors (Grade 11 & 12) </li>
                    <li> College: Honor Student (1st Year) </li>
                  </ul>
                </div>
                
                <div class="education">
                  <h2>Course</h2>
                  <ul>
                    <li> Senior High School: Technical-Vocational Livelihood (TVL) Information and Communications Technology (ICT) </li>
                    <li> College: Bachelor of Computer Science with Specialization in Cybersecurity and Forensics </li>
                  </ul>
                </div>
              </div>
            

            <br> <br>

        </div>


        <div class="item3">

            <div class="header">
                <h1>Goals in Life/Dreams</h1>
            </div>

            <br>

            <p>An international volunteer and one of Jehovah's Witnesses, sharing Bible-based advice and God's promises for a future free of suffering, sickness, and even death. </p>
            <p>My love for God, Jehovah, and for people motivates me to spread this hope alongside fellow volunteers from over 240 lands.</p>
        

            <div class="preaching-jw">
              <div class="preaching">
                  <a target="_blank" href="https://cms-imgp.jw-cdn.org/img/p/2019361/univ/art/2019361_univ_cnt_2_xl.jpg">
                      <img src="https://cms-imgp.jw-cdn.org/img/p/2019361/univ/art/2019361_univ_cnt_2_xl.jpg" alt="Preaching the Good News" style="width: 460px; height: 280px;">
                  </a>
                  <div class="desc">Sharing Good News From the Bible</div>
              </div>
              <div class="preaching">
                  <a target="_blank" href="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/49ec1464-d899-400a-b608-c48c76b500d2/dctti65-aadb7001-929e-4a70-9d35-0650d4aec294.jpg/v1/fill/w_1600,h_1130,q_75,strp/spider_man__into_the_spider_verse___gwen_by_patrickbrown_dctti65-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTEzMCIsInBhdGgiOiJcL2ZcLzQ5ZWMxNDY0LWQ4OTktNDAwYS1iNjA4LWM0OGM3NmI1MDBkMlwvZGN0dGk2NS1hYWRiNzAwMS05MjllLTRhNzAtOWQzNS0wNjUwZDRhZWMyOTQuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.ZRPnEbzSiwohYakW6ZLS0UMicgxzghWq5giiPo5P8m0">
                      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/49ec1464-d899-400a-b608-c48c76b500d2/dctti65-aadb7001-929e-4a70-9d35-0650d4aec294.jpg/v1/fill/w_1600,h_1130,q_75,strp/spider_man__into_the_spider_verse___gwen_by_patrickbrown_dctti65-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTEzMCIsInBhdGgiOiJcL2ZcLzQ5ZWMxNDY0LWQ4OTktNDAwYS1iNjA4LWM0OGM3NmI1MDBkMlwvZGN0dGk2NS1hYWRiNzAwMS05MjllLTRhNzAtOWQzNS0wNjUwZDRhZWMyOTQuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.ZRPnEbzSiwohYakW6ZLS0UMicgxzghWq5giiPo5P8m0" alt="Animation demos">
                  </a>
                  <div class="desc">Aspiring 2D professional artist/animator</div>
              </div>
          </div>

          <br> 

          <div class="gallery-container">
              <div class="gallery">
                  <a target="_blank" href="https://i.pinimg.com/564x/59/59/9c/59599c11c023caa2612a987c96e3a326.jpg">
                      <img src="https://i.pinimg.com/564x/59/59/9c/59599c11c023caa2612a987c96e3a326.jpg" alt="Cat and Piano">
                  </a>
                  <div class="desc">Learning to Play Piano</div>
              </div>
              <div class="gallery">
                  <a target="_blank" href="https://soranews24.com/wp-content/uploads/sites/3/2019/10/gs-2.png">
                      <img src="https://soranews24.com/wp-content/uploads/sites/3/2019/10/gs-2.png" alt="gojira" style="width: 400px; height: 280px;">
                  </a>
                  <div class="desc"> Travel to Japan for their Cherry Blossoms and Godzilla attractions </div>
              </div>
              <div class="gallery">
                  <a target="_blank" href="https://media.tenor.com/sh_5zpuzWs4AAAAM/cat-pull-cat-snatch.gif">
                      <img src="https://media.tenor.com/sh_5zpuzWs4AAAAM/cat-pull-cat-snatch.gif" alt="catnapped">
                  </a>
                  <div class="desc"> Have a cat (TOP PRIORITY) </div>
              </div>
          </div>

          <br> <br>


        </div>  


        <div class="item4">

            <div class="header">
                <h1>IT Experience</h1>
            </div>

            <div class="it-flex">
              <div class="it">
                  <h2>Software</h2>
                  <ul>
                    <li>Windows 7 and 10 Operating System Installation & Configuration</li>
                    <li>Windows Server 2012 r2 Configuration</li>
                    <li>Ubuntu Linux Installation</li>
                  </ul>
              </div>
              <div class="it">
                  <h2>Hardware</h2>
                  <ul>
                    <li>Setting up Computer Networks & Servers</li>
                    <li>Assembling/Disassembling Computer Systems</li>
                  </ul>
              </div>
              <div class="it">
                  <h2>Applications</h2>
                  <ul>
                    <li>Basic Python, Java, HTML, MySQL</li>
                    <li>Microsoft 365, Visual Studio Code, Oracle VirtualBox</li>
                    <li>Figma, Canva, Ibis Paint X, Medibang, FireAlpaca</li>
                  </ul>
              </div>
          </div>           
            
            <br> <br>

        </div>


        <div class="item5">

          <div class="header">
            <h1>Hobbies & Interests</h1>
            </div>
        
            <br> <br>

            <ul>
                <li>Digital Drawing</li>
                <li>Reading Novels</li>
                <li>Video Games</li>
                <li>Cats</li>
                <li>Dinosaurs</li>
                <li>Nature</li>
                <li>Watching Movies/Shows</li>
                <li>Playing/Listening to Music</li>
            </ul>

        </div>
        </div>


<div id="app">
  {{ message }}
  <div v-bind:class="vueClass">This element is bound to the "pinkBG" class.</div>
</div>

<div id="app2">
  <div>
    <figure v-for="x in manyFoods">
      <img v-bind:src="x.url">
      <figcaption>{{ x.name }}</figcaption>
    </figure>
  </div>
</div>

<div id="app3">
  <form v-on:submit.prevent="addItem">
    <p>
      What do you need? <br>
      <input type="text" required placeholder="item name.." v-model="itemName">
    </p>
    <p>
      How many? <br>
      <input type="number" placeholder="number of items.." v-model="itemNumber">
    </p>
    <p>
      Important?
      <label>
        <input type="checkbox" v-model="itemImportant">
        {{ itemImportant }}
      </label>
    </p>
    <button type="submit">Add item</button>
  </form>
  <br>
  <hr>

  <div>
    <p><strong>Shopping list:</strong></p>
    <ul id="ulToFind">
      <li 
        v-for="item in shoppingList" 
        v-bind:class="{ impClass: item.important }"
        v-on:click="item.found=!item.found"
        v-show="!item.found">
          {{ item.name }}, {{ item.number}}
      </li>
    </ul>
    <ul id="ulFound">
      <li 
        v-for="item in shoppingList" 
        v-bind:class="{ impClass: item.important }"
        v-on:click="item.found=!item.found"
        v-show="item.found">
          {{ item.name }}, {{ item.number}}
      </li>
    </ul>
  </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="js/vue.js"></script>
<script src="js/images.js"></script>
<script src="js/shopping.js"></script>
  
</body>
</html>
